body {
   background: black;
}

h1{
    color: white;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.principal {
    background: #008000;
    padding: 30px;
}

h2{
    color: white;
}

.titulo-principal{
    padding-left: 20px;
}

.titulo-centralizado{
    text-align: center;
}

p {
    font-size:25px;
    text-align:left;
    color: white;
}

.principal2{
    background: grey;
    padding: 20px 0;
}

h3{
    color: white;
}

em{
    color: black;
}

.imagem {
    width: 100%;
    height: 500px;
    padding-top: 30px;
}

 