body {
   background: black;
}

h1{
    color: white;
}

.imagem {
    width: 100%;
    height: 500px;
}

.principal {
    background: #008000;
    padding: 30px;
}

.titulo-principal{
    padding-left: 20px;
}

.titulo-centralizado{
    text-align: center;
}

p {
    font-size:25px;
    text-align:left;
}